/* Episode page customizations */

.bonus-material {
    ul li {
        margin-top: 1em;
    }
    .bonus-iframe {
        text-align: center;
    }
    .bonus-iframe iframe {
        width: 350px;
        height: 200px;
        margin-top: 1em;
    }
}
