/* Intro page customizations */

.intro {

    background-image: url('/assets/img/header.png');
    background-size: cover;
    min-height: 100vh;

    .container {
        
    }

    h1 {
        margin-top: 10vh;
        font-size: 6rem;
        font-weight: bold;
        color: $c-body;
    }

    p {
        font-size: 1.4rem;
        color: $c-body;
    }

    .btn {
        margin: 1.5em 0 2em 0;
    }

    @media screen and (max-width: 768px) {
        h1 {
            text-align: center;
        }

        p {
            padding-left: 0;
            text-align: center;
        }
    }
}

.btn.all-episodes {
    margin: 3em auto 0 auto;
    display: block;
}