/* Intro page customizations */

#page-index .intro {
    background-image: url('/assets/img/header.png');
    background-size: cover;
    min-height: 100vh;

    h1 {
        margin-top: 14vh;
        font-size: 8rem;
        font-weight: bold;
        color: $c-white;
    }

    p {
        font-size: 1.7rem;
        color: $c-white;
        margin-bottom: 5rem;
    }

    .btn {
        margin: 1.5em 0 2em 0;
    }

    p:first-of-type .btn {
        font-size: 1.2rem;
    }

    @media screen and (max-width: 768px) {
        h1 { font-size: 6rem; }

        p {
            padding-left: 0;
        }
    }
}

.btn.all-episodes {
    margin: 3em auto 0 auto;
    display: block;
}

.bonuses-logo {
    height: 200px;
    margin: 1em;
}

.icons {
    list-style-type: none;
    display: table;
    margin: 2em auto 1em auto;
    text-align: center;

    a {
        display: inline-block;
        padding: 0em 1em;

        i {
            font-size: 2.5em;
            color: $c-black;
            &:hover {
                color: $c-primary;
            }
        }

        svg {
            height: 3em;
            margin-top: -20px;
            fill: $c-black;
            &:hover {
                fill: $c-primary;
            }
        }
    }
}
