/* Tag link and tag archive page */

.tags {
    margin-bottom: 1rem;
}

.badge-tag {
    --tag-color: $c-black;
    padding: 0.25em 0.6em;
    color: rgba(0, 0, 0, 0.85);
    background-color: var(--tag-color);
    border-radius: 1em;
    text-decoration: none;

    &.tag-doprava { --tag-color: #f9d6ad; }
    &.tag-ekonomika { --tag-color: #8ad9d0; }
    &.tag-energetika { --tag-color: #b6c2e6; }
    &.tag-klima { --tag-color: #f2b7c6; }
    &.tag-krajina { --tag-color: #aadfc1; }
    &.tag-politika { --tag-color: #cab7df; }
    &.tag-prumysl { --tag-color: #9cc9f0; }
    &.tag-spolecnost { --tag-color: #bce4e8; }

    &:hover, &.badge-tag-active {
        color: $c-white;
        background: color-mix(in lch, var(--tag-color) 60%, black);
    }
}

.tags-overview {
    .badge-tag {
        font-size: 0.9rem;
        line-height: 1.2rem;
        margin-right: 0.4rem;
        margin-bottom: 0.6rem;
        padding: 0.4em 0.6em;
    }
}

