# Generated web files
/humans.txt
/assets/episodes/*

# Build Jekyll site, cache, test results
/_site/**
/.cache/**
/.firebase/**
/.lighthouseci/**

# Locally donwloaded and installed gems
/vendor

# Temporary files
/_tmp/**
*~

# Mac Finder files
*.DS_Store

# IDE files
.idea
.vscode
