# Generated web files
/humans.txt

# Build Jekyll site, cache, test results
/_site/**
/.cache/**
/.firebase/**
/.lighthouseci/**

# Locally donwloaded and installed gems
/vendor

# Temporary files
*~

# IDE files
.idea
.vscode
