<div class="row">
    <div class="col-lg-8">
        <ul>
            <li><strong>Nesestříhaný rozhovor: <a href="https://audioboom.com/posts/{{ include.audioboom }}">{{ include.title }}</a></strong> (<em>2050 podcast</em>)<br/>
            {{ include.caption }}
            </li>
        </ul>
    </div>
    <div class="col-lg-4 bonus-iframe">
        <iframe src="https://embeds.audioboom.com/posts/{{ include.audioboom }}/embed/v4?image_option=full" frameborder="0" allowtransparency="allowtransparency" scrolling="no" title="Audioboom player" allow="autoplay"></iframe>
    </div>
</div>
