<div class="row">
    <div class="col-lg-8">
        <ul>
            <li><strong>Nesestříhaný rozhovor: <a href="{{ include.video-within-playlist }}">{{ include.title }}</a></strong> (<em>2050 podcast</em>)<br/>
            Tento rozhovor nevznikl jako ucelený podcast, ale host i moderátor počítali s tím, že z něj budou vybrané jen některé části, které sestříháme do výsledného díla. Berte proto tento záznam spíše jako open source bonus pro ty z vás, které host z podcastu zaujal. Omluvte tedy sníženou kvalitu zvuku, občasná přeřeknutí, opakování myšlenek a podobně.
            </li>
        </ul>
    </div>
    <div class="col-lg-4 youtube-iframe">
        <iframe src="https://www.youtube.com/embed/{{ include.video-id }}" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </div>
</div>
