<footer>
    <div class="container">
        <!--
        <div class="text-right">
            {{ site.copyright }}<br/>
            {{ site.data.lang.footer.last-change }}: <a class="no-ext-link-icon" href="https://github.com/{{ site.github }}/commit/{{ site.git.commit_hash }}"
            title="commit {{ site.git.commit_hash_short }}">{{ site.git.commit_date }}</a><br/>
            GitHub: <a class="no-ext-link-icon" href="https://github.com/{{ site.github }}/">{{ site.github }}</a>
        </div>
        -->
    </div>
</footer>
