<footer>
    <div class="container">
        <div class="text-lg-left">
            Kontaktujte nás na <a class="no-ext-link-icon" href="mailto:{{ site.email }}">{{ site.email }}</a><br/>
            Podcastem vás provází <a class="no-ext-link-icon" href="https://www.linkedin.com/in/petrholik">Petr Holík</a> a Hana Vrtalová<br/>
            Zvuk: <a class="no-ext-link-icon" href="https://www.nahravadlo.cz/">Jan Růžička & nahravadlo.cz</a><br/>
            Hudba: <a class="no-ext-link-icon" href="https://www.youtube.com/channel/UCmS50sHbK56alrmGwur5h3A">Professor Leopard</a>
        </div>
        <div class="text-lg-right mt-lg-0">
            {{ site.copyright }}<br/>
            <a href="/gdpr">Zásady zpracování osobních údajů</a><br/>
            Poslední změna: <a class="no-ext-link-icon" href="https://github.com/{{ site.github }}/commit/{{ site.git.commit_hash }}"
            title="commit {{ site.git.commit_hash_short }}">{{ site.git.commit_date }}</a><br/>
            GitHub: <a class="no-ext-link-icon" href="https://github.com/{{ site.github }}/">{{ site.github }}</a>
        </div>
    </div>
</footer>
