<div class="section pre-footer">
    <div class="container">
        Podcast 2050 vám přinášejí <a class="no-ext-link-icon" href="https://faktaoklimatu.cz/">Fakta o klimatu</a> ve spolupráci s <a class="no-ext-link-icon" href="https://www.amo.cz/">Asociací pro mezinárodní otázky</a>, <a class="no-ext-link-icon" href="https://www.learned.cz/">Učenou společností České republiky</a> a <a class="no-ext-link-icon" href="https://www.cde-org.cz/cs/">Centrem pro dopravu a energetiku</a>.
    </div>
</div>