body {
    color: #333333;
    font-family: sans-serif;
    text-align: center;
}

.main {
    z-index: 1;
    position: absolute;
    top: 30px;
    bottom: 30px;
    left: 30px;
    right: 30px;
    background: #f2f2f2;
}

.center {
    z-index: 2;
    position: absolute;
    top: 45%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
    padding: 30px;
}

@media only screen and (min-width: 950px) {
    .center {
        min-width: 800px;
    }
}

img {
    width: 100px;
    margin: 20px;
}

h1 {
    font-weight: bold;
    font-size: 2.5rem;
}

p {
    font-size: 1.25rem;
}

a {
    color: inherit;
    text-decoration: underline;
}

a:hover {
    color: inherit;
}

.tagline {
    font-family: Verdana, sans-serif;
    font-size: 1.5rem;
    color: #666666;
    margin-bottom: 1.5rem;
}

@media only screen and (min-width: 600px) {
    h1 {
        font-size: 2.5rem;
    }
    .tagline {
        font-size: 2rem;
    }
    img {
        width: 200px;
    }
}

/* Developer version warning box */

#dev-warning {
    --dev-space: 0.6rem;
    position: fixed;
    bottom: var(--dev-space);
    left: var(--dev-space);
    right: var(--dev-space);
    padding: var(--dev-space);
    border-radius: var(--dev-space);
    margin-inline: auto;
    width: 300px;
    z-index: 1070;

    p {
        text-align: center;
        margin-bottom: 0rem;
    }

    a#devWarningToggle {
        text-decoration: none;
        color: $c-secondary;

        i.fas {
            margin-inline: 0.3rem;
        }
    }

    p#devWarningDetails {
        padding-top: 0.5rem;
    }
}

@media (min-width: 576px) {
    #dev-warning {
        left: auto;
    }
}