<!doctype html>
<html lang="cs">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main role="main">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h1>{% if page.number %}{{ page.number }}: {% endif %}{{ page.title }}</h1>
            <p class="text-muted">{% include date-cs.html date=page.published %}, 
              {% if page.type %}{{ page.type }}{% else %}epizoda{% endif %}
              {% if page.number %}{{ page.number }}{% endif %}</p>
            <div class="lead">
              {{ page.summary | markdownify }}
              {% if page.transcript %}
                <a class="btn btn-primary" id="btn-transcript" href="#transkript"><i class="far fa-file-alt"></i> Transkript epizody</a>
              {% endif %}
              <a class="btn btn-secondary no-ext-link-icon" id="sharing-facebook" href="https://facebook.com/sharer/sharer.php?u={{ page.url | absolute_url | cgi_escape }}" rel="noopener"><i class="fab fa-facebook-f"></i> Sdílej!</a>
              <a class="btn btn-secondary no-ext-link-icon" id="sharing-twitter" href="https://twitter.com/intent/tweet/?text={{ page.title | cgi_escape }}&amp;url={{ page.url | absolute_url | cgi_escape }}" rel="noopener"><i class="fab fa-twitter"></i> Tweetuj!</a>
            </div>
          </div>
          <div class="col-lg-4">
            <iframe width="300px" height="350px" src="https://embeds.audioboom.com/posts/{{ page.audioboom }}/embed/v4?image_option=full" style="background-color:transparent; display:block; padding: 0; max-width:300px;" frameborder="0" allowtransparency="allowtransparency" scrolling="no" title="Audioboom player" allow="autoplay"></iframe>
          </div>
        </div>
      </div>
    </div>
    {% if content.size > 5 %}
    <div class="section">
      <div class="container">
        {{ content }}
      </div>
    </div>
    {% endif %}
    {% include pre-footer.html %}
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
