<!doctype html>
<html lang="cs">
<head>
  {% include header.html %}
</head>

<body>
  {% include navigation.html %}
  <main role="main">
    <div class="section">
      <div class="container">
        <div class="row">
          <div class="col-lg-8">
            <h1>{{ page.title }}</h1>
            <p class="text-muted">{% include date-cs.html date=page.published %}, 
              {% if page.type %}{{ page.type }}{% else %}epizoda{% endif %}
              {% if page.number %}{{ page.number }}{% endif %}</p>
            <div class="lead">
              {{ page.summary | markdownify }}
            </div>
          </div>
          <div class="col-lg-4">
            <iframe width="300px" height="350px" src="https://embeds.audioboom.com/posts/{{ page.audioboom }}/embed/v4?image_option=full" style="background-color:transparent; display:block; padding: 0; max-width:300px;" frameborder="0" allowtransparency="allowtransparency" scrolling="no" title="Audioboom player" allow="autoplay"></iframe>
          </div>
        </div>
      </div>
    </div>
    {% if content.size > 5 %}
    <div class="section">
      <div class="container">
        {{ content }}
      </div>
    </div>
    {% endif %}
  </main>
  {% include footer.html %}
  {% include scripts.html %}
</body>
</html>
