<!doctype html>
<html lang="cs">
<head>
  {% include 2050/header.html %}
</head>

<body>
  {% include 2050/navigation.html %}
  {% assign tag = site.data.tags | where: "id", page.title | first %}
  <main id="page-tag">
    <div class="section intro pb-3">
      <div class="container">
        <div class="tags-overview d-flex flex-column flex-md-row">
          <p>Témata, kterým se podcast věnuje:</p>
          {% assign all-tags = site.data.tags | map: "id" %}
          {% include 2050/tags.html tags=all-tags link="true" highlighted=tag.id %}
          <div class="ml-0 ml-md-2 flex-shrink-0 d-flex align-items-center justify-content-end">
            <a href="/" class="btn btn-secondary m-0"><i class="fas fa-fw fa-arrow-left"></i> Zpět na hlavní stránku</a>
          </div>
        </div>
      </div>
    </div>
    <div class="section">
      <div class="container clearfix">
        <h1>Téma: {{ tag.long-name | capitalize }}</h1>
        {% if tag.description %}
          <p class="lead">{{ tag.description | markdownify }}</p>
        {% endif %}

        {% assign sorted_episodes = site.episodes | where_exp: "item", "item.number > 0" |
            where_exp: "item", "item.tags contains tag.id" | sort: "number" | reverse %}
        {% for episode in sorted_episodes %}
        {% include 2050/episode-preview.html episode=episode %}
        {% endfor %}
      </div>
    </div>
  </main>
  {% include 2050/footer.html %}
  {% include 2050/scripts.html %}
</body>
</html>
