<div class="row">
    <div class="col-lg-8">
        <ul>
            <li><strong>Nesestříhaný rozhovor: <a href="https://open.spotify.com/episode/{{ include.spotify }}">{{ include.title }}</a></strong> (<em>2050 podcast</em>)<br/>
            {{ include.caption }}
            </li>
        </ul>
    </div>
    <div class="col-lg-4 bonus-iframe">
        <iframe style="border-radius:12px" src="https://open.spotify.com/embed/episode/{{ include.spotify }}?utm_source=website" width="300px" height="200px" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture" loading="lazy"></iframe>
    </div>
</div>
