<div class="section">
    {% if page.op-jak %}
    <div class="container mb-4">
        Tato podcastová serie vznikla v rámci projektu Dekarbonizujeme Česko: od kvalitních informací ke kvalitní diskusi, který je spolufinancován Evropskou unií.<br/>
        <img id="opjak-logolink" src="/assets/img/EU_MSMT.png" alt="Logo EU a MŠMT">
    </div>
    {% endif %}
    <div class="container pre-footer">
        Podcast 2050 vám přinášejí <a class="no-ext-link-icon" href="https://faktaoklimatu.cz/">Fakta o klimatu</a>. Veškerý obsah můžete dále využívat, když nás uvedete jako zdroj (licence <a class="no-ext-link-icon" href="https://creativecommons.org/licenses/by/4.0/deed.cs">CC BY 4.0</a>).
    </div>
</div>